* {
  font-family: Helvetica;
  text-align: center;
}
#header, h4 {
  background-image: url("../../resources/images/the-flatiron-building.png");
}
#footer, h1, h4, a {
  color: white;
}
h1, h2, h3, h4 {
  font-weight: bold;
}
p {
  font-size: 14;
}
a {
  font-size: 18px;
}
h1 {
  font-size: 70px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 23px;
}
h4 {
  font-size: 23px;
}
ul {
  list-style-type: none;
  background-color: dimgray;
  text-align: left;
  padding-left: 0;
}
li {
  display: inline;
}
#footer {
  font-size: 11px;
}
